body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #32b691;
}

button {
  width: 30px;
  height: 30px;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  width: 100%;
  height: 100%;
  font-size: 24px;
  border-radius: 5px;
  background-color: #498ec3;
  opacity: 0.7;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.192);
}

button:active {
  box-shadow: none;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: stretch;
  align-items: center;
  justify-items: center;
}

.raap,
.calculator {
  background-color: #ffffff96;
  height: 400px;
  width: 300px;
  margin: 200px auto;
  padding: 10px 10px;
  border-radius: 10px;
}

.zero {
  grid-column: span 2;
}

.text-field {
  grid-column: span 4;
  height: 20px;
  width: 100%;
  color: #3e3e3e;
  font-size: 30px;
  text-align: right;
  text-justify: bottom;
  font-weight: normal;
}

.equal {
  grid-row: span 2;
  height: 100%;
}

.number {
  background-color: rgba(93, 93, 93, 0.89);
}

.ac,
.del {
  background-color: #9c9c9c;
}
